/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
}

@font-face {
  font-family: CircularStd;
  src: url(/assets/fonts/CircularStd-Black.ttf) format('ttf');
}

@font-face {
  font-family: 'Avenir-Black';
  src: url('./assets/fonts/Avenir-Black.eot');
  src: url('./assets/fonts/Avenir-Black.woff2') format('woff2'), url('./assets/fonts/Avenir-Black.woff') format('woff'), url('./assets/fonts/Avenir-Black.ttf') format('truetype'), url('./assets/fonts/Avenir-Black.svg#Avenir-Black') format('svg'), url('./assets/fonts/Avenir-Black.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Roman';
  src: url('./assets/fonts/Avenir-Roman.eot');
  src: url('./assets/fonts/Avenir-Roman.woff2') format('woff2'), url('./assets/fonts/Avenir-Roman.woff') format('woff'), url('./assets/fonts/Avenir-Roman.ttf') format('truetype'), url('./assets/fonts/Avenir-Roman.svg#Avenir-Roman') format('svg'), url('./assets/fonts/Avenir-Roman.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Heavy';
  src: url('./assets/fonts/Avenir-Heavy.eot');
  src: url('./assets/fonts/Avenir-Heavy.woff2') format('woff2'), url('./assets/fonts/Avenir-Heavy.woff') format('woff'), url('./assets/fonts/Avenir-Heavy.ttf') format('truetype'), url('./assets/fonts/Avenir-Heavy.svg#Avenir-Heavy') format('svg'), url('./assets/fonts/Avenir-Heavy.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Medium';
  src: url('./assets/fonts/Avenir-Medium.eot');
  src: url('./assets/fonts/Avenir-Medium.woff2') format('woff2'), url('./assets/fonts/Avenir-Medium.woff') format('woff'), url('./assets/fonts/Avenir-Medium.ttf') format('truetype'), url('./assets/fonts/Avenir-Medium.svg#Avenir-Medium') format('svg'), url('./assets/fonts/Avenir-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Book';
  src: url('./assets/fonts/Avenir-Book.eot');
  src: url('./assets/fonts/Avenir-Book.woff2') format('woff2'), url('./assets/fonts/Avenir-Book.woff') format('woff'), url('./assets/fonts/Avenir-Book.ttf') format('truetype'), url('./assets/fonts/Avenir-Book.svg#Avenir-Book') format('svg'), url('./assets/fonts/Avenir-Book.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
